<!-- View for showing a single `Post` -->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', posts_path %>
<%= link_to 'Delete Post', post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>